# ============================================
# INTELLIJ IDEA
# ============================================
.env
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
*.sql
HELP.md

# ============================================
# ARCHIVOS DE COMPILACIÓN
# ============================================
target/
build/
!gradle/wrapper/gradle-wrapper.jar
!mvnw
!mvnw.cmd

# ============================================
# LOGS
# ============================================
*.log
logs/

# ============================================
# ARCHIVOS TEMPORALES
# ============================================
*.tmp
*.temp

# ============================================
# SISTEMA OPERATIVO
# ============================================
.DS_Store
Thumbs.db

# ============================================
# ARCHIVOS DE CONFIGURACIÓN SENSIBLES
# ============================================
application-dev.properties
application.properties
application-prod.properties
*.keystore
*.jks


# ============================================
# MAVEN (si usas Maven)
# ============================================
**/maven-wrapper/*
!.mvn/wrapper/maven-wrapper.jar